@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
	font-family: "Roboto";
	font-size: 14px;
	background: #a7d5ef; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #b4d5e8, #a7d5ef);
	background: -moz-linear-gradient(right, #b4d5e8, #a7d5ef);
	background: -o-linear-gradient(right, #b4d5e8, #a7d5ef);
	background: linear-gradient(to left, #b4d5e8, #a7d5ef);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
