.chat {
	background: #f2f5f8;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
}

.chat-history {
	padding: 20px 10px 10px 10px;
	border-bottom: 2px solid white;
	height: 600px;
	overflow-y: scroll;
}

.chat-header {
	padding: 10px 10px 10px 10px;
	border-bottom: 2px solid white;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chat-header .avatar {
	border: 3px solid #86bb71;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 10px;
}

.chat-with {
	font-weight: bold;
	font-size: 16px;
}

.chat-num-messages {
	color: #92959e;
}

.chat-message {
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chat-message textarea {
	outline: 0;
	width: 100%;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	resize: none;
}

.chat-message button {
	outline: 0;
	float: right;
	color: #94c2ed;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background: #f2f5f8;
}

.chat-message button:hover {
	color: #63a4e2;
}
