.form {
	position: relative;
	background: #ffffff;
	width: 40%;
	min-width: 280px;
	max-width: 360px;
	margin: 20% auto 0 auto;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
}
.form button {
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
	background: #43a047;
}
.form .message {
	margin: 30px 0 0;
}
.form .message .link {
	cursor: pointer;
}
