.message-wrap {
	display: flex;
	flex-direction: column;
}

.my-name {
	margin-bottom: 15px;
	float: right;
}

.other-name {
	margin-bottom: 15px;
	float: left;
}

.message {
	color: white;
	padding: 15px 18px;
	border-radius: 5px;
	margin-bottom: 5px;
	position: relative;
}

.message::after {
	bottom: 100%;
	left: 93%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #94c2ed;
	border-width: 10px;
	margin-left: -10px;
}

.my-message {
	background: #94c2ed;
	float: right;
}

.other-message {
	background: #86bb71;
	float: left;
}

.other-message::after {
	border-bottom-color: #86bb71;
	left: 7%;
}
