.peopleitem {
	height: 70px;
	margin: 5px 0 5px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	cursor: pointer;
}

.avatar {
	justify-self: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.info h4,
p {
	margin: 5px;
}

.info p {
	color: #92959e;
}

.peopleitem .avatar {
	border: 3px solid #92959e;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: cover;
}

@media (max-width: 699px) {
	.info {
		display: none;
	}

	.peopleitem .avatar {
		justify-self: center;
		margin: 0 auto;
	}
}
